- name: Création des conteneurs pour le réseau
  hosts: localhost
  become: true
  tasks:

    # Conteneur Routeur (WAN = IP du PC, LAN interne)
    - name: Créer conteneur routeur
      community.docker.docker_container:
        name: routeur
        image: debian:12
        state: started
        privileged: true
        network_mode: host   # eth0 = WAN (IP du PC)
        tty: true
        command: sleep infinity

    # Conteneur Switch (logiciel, plusieurs interfaces)
    - name: Créer conteneur switch
      community.docker.docker_container:
        name: switch
        image: debian:12
        state: started
        privileged: true
        tty: true
        command: sleep infinity

    # Conteneur DNS + DHCP
    - name: Créer conteneur DNS/DHCP
      community.docker.docker_container:
        name: dns_dhcp
        image: debian:12
        state: started
        tty: true
        command: sleep infinity

    # Conteneur Web (Apache + DB)
    - name: Créer conteneur Web
      community.docker.docker_container:
        name: web
        image: debian:12
        state: started
        tty: true
        command: sleep infinity

    # Conteneur Samba
    - name: Créer conteneur Samba
      community.docker.docker_container:
        name: samba
        image: debian:12
        state: started
        tty: true
        command: sleep infinity

    # Conteneur LDAP
    - name: Créer conteneur LDAP
      community.docker.docker_container:
        name: ldap
        image: debian:12
        state: started
        tty: true
        command: sleep infinity

