- name: Création de l'image et des conteneurs
  hosts: local
  become: true
  collections:
    - community.docker

  tasks:

    - name: Construire l'image Debian avec iproute2
      community.docker.docker_image:
        name: debian-services
        tag: "12"
        build:
          path: /home/rt/git/ansible/docker
          dockerfile: Dockerfile-services
        source: build

    - name: Créer réseau LAN interne avec gateway
      community.docker.docker_network:
        name: lan_net
        internal: true
        ipam_config:
          - subnet: 192.168.10.0/24
            gateway: 192.168.10.100

    - name: Créer réseau WAN
      community.docker.docker_network:
        name: wan_net
        driver: bridge

    - name: Créer routeur
      community.docker.docker_container:
        name: routeur
        image: debian-services:12
        privileged: true
        networks:
          - name: wan_net
          - name: lan_net
            ipv4_address: 192.168.10.1
        state: started

    - name: Créer dns_dhcp
      community.docker.docker_container:
        name: dns_dhcp
        image: debian-services:12
        privileged: true
        networks:
          - name: lan_net
            ipv4_address: 192.168.10.2
        state: started

    - name: Créer web
      community.docker.docker_container:
        name: web
        image: debian-services:12
        privileged: true
        networks:
          - name: lan_net
            ipv4_address: 192.168.10.3
        state: started

    - name: Créer samba
      community.docker.docker_container:
        name: samba
        image: debian-services:12
        privileged: true
        networks:
          - name: lan_net
            ipv4_address: 192.168.10.4
        state: started

    - name: Créer ldap (AD)
      community.docker.docker_container:
        name: ldap
        image: debian-services:12
        privileged: true
        networks:
          - name: lan_net
            ipv4_address: 192.168.10.5
        state: started
