- name: Configuration réseau et NAT sur le routeur
  hosts: localhost
  become: true

  tasks:

    - name: Installer les outils réseau sur le routeur
      command: >
        docker exec routeur sh -c
        "apt-get update &&
         apt-get install -y iproute2 iptables iputils-ping"

    - name: Activer le forwarding IPv4 sur le routeur
      command: docker exec routeur sh -c "echo 1 > /proc/sys/net/ipv4/ip_forward"

    - name: Autoriser le forward LAN -> WAN
      command: docker exec routeur iptables -A FORWARD -i eth1 -o eth0 -j ACCEPT

    - name: Autoriser le forward WAN -> LAN (retour)
      command: docker exec routeur iptables -A FORWARD -i eth0 -o eth1 -m state --state RELATED,ESTABLISHED -j ACCEPT

    - name: Activer le NAT sur l'interface WAN du routeur
      command: docker exec routeur iptables -t nat -I POSTROUTING -o eth0 -j MASQUERADE

    - name: Définir la route par défaut sur dns_dhcp
      command: docker exec dns_dhcp ip route replace default via 192.168.10.1

    - name: Définir la route par défaut sur web
      command: docker exec web ip route replace default via 192.168.10.1

    - name: Définir la route par défaut sur samba
      command: docker exec samba ip route replace default via 192.168.10.1

    - name: Définir la route par défaut sur ldap
      command: docker exec ldap ip route replace default via 192.168.10.1

    - name: Supprimer la règle DROP bloquante
      command: iptables -D DOCKER-ISOLATION-STAGE-1 3
      become: true
      ignore_errors: true

    - name: Supprimer la règle DROP bloquante
      command: iptables -D DOCKER-ISOLATION-STAGE-1 3
      become: true
      ignore_errors: true

